/*body*/
body{
 background-color: aliceblue;
}
/*About Us*/
h1{
  color: teal;
}
h2{
  color: indigo;
}
h4{
  color: red;
  font-size: 20px;
}
h3{
  color: orchid;
}
.our{
  color: red;
}
.news {
  color: magenta
}

.aim{
  color: orangered
}
.founded{
  color: green;
}
.motto{
  color: blue;
  font-size: 17px
}
.we{
  color: blue;
  font-size: 17px
}
.organised{
  font-size: 19px;
}
.due{
  color: #00c853;
  font-size: 18px;
}
.cabinet{
  color: blue;
  #e65100;
  font-size: 18px
}
.members{
  color: gold;
  font-size: 18px;
  background-color: darkmagenta;
  border: red;
  border-radius: 6.0px;
  padding: 0 10px 0 20px
}
.projects{ 
  color: teal;
  font-size: 18px;
}
.request{
  color: darkblue;
  background-color: turquoise; 
  border: solid;
  border-radius: 10px;
  padding: 20px 20px 20px 10px;
  font-size: 20px;
}
#home{
  background-color: blue;
  border: solid$2px;
  border-color: ;
  border-radius: 10px;
  padding: 15px  20px 15.0px 20px;
  font-size: 20px;
  text-align: center;
}
.home{
  color: white;
}
.updated{
  background-color:  cyan;
}
.will{
  border: solid$ 1px;
  border-radius: 10px;
  background-color:  chartreuse;
}